extends layout


block content
  script(src="/scripts/jquery.min.js")
  script(src="/scripts/d3.min.js")
  script(src="/scripts/jquery.hoverIntent.minified.js")
  script(src="/scripts/tree.js")
  
  #tree-container
  #bio
  #editor